<template>
  <v-layout
    wrap
  >
    <v-container
      grid-list-xl
    >
      <v-layout
        row
        wrap
        justify-center
        mb-4
      >
        <h3 class="display-2">
          Blog
        </h3>
      </v-layout>
      <v-layout
        row
        wrap
        justify-center
      >
        <v-flex
          v-for="(post, index) in posts"
          :key="index"
          xs12
          sm4
        >
          <v-card>
            <v-img
              :src="post.image"
              aspect-ratio="2.75"
            />
            <v-card-title primary-title>
              <div>
                <h3 class="headline mb-0">
                  {{ post.title }}
                </h3>
                <div>{{ post.content }}</div>
              </div>
            </v-card-title>
            <v-card-actions>
              <v-btn
                flat
                color="orange"
              >
                Share
              </v-btn>
              <v-btn
                flat
                color="orange"
              >
                Explore
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-layout>
</template>

<script>
import gql from 'graphql-tag'

export default {
  data: () => ({
    // hello: 'test'
  }),
  apollo: {
    posts: gql`
      query {
        posts {
          id
          title
          content
          image
          created_at
        }
      }
    `
  }
}
</script>

<style>
</style>
